body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

.chart-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

canvas {
    max-width: 300px; /* Ajusta el tamaño máximo de los gráficos */
    max-height: 300px;
}